<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" type="text/css" href="NewHome.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>


<div class="topnav">


  <a href="NewFile.html">Home</a>
  <a href="special.html">#Special</a>
  <a href="customorder.html">@Custom-Order</a>
  <a href="contact.html">Contact</a>
  <a href="about.html">About</a>
  
  
</div>
<div class="content">
<div class="w3-content w3-display-container" style="width:100%; border-radius: 20px;  background-color:black; position:absolute; left:60px; top:65px;  height:300px;">
  <img class="mySlides" src="x1.jpg" style=" width:100%;height:100%;border-radius: 20px;">
  <img class="mySlides" src="x2.jpg" style="width:100%; height:100%;border-radius: 20px;">
  <img class="mySlides" src="x3.jpg" style="width:100%;height:100%;border-radius: 20px;">
  <img class="mySlides" src="x4.jpg" style="width:100%;height:100%;border-radius: 20px;">
  <img class="mySlides" src="x5.jpg" style="width:100%;height:100%; border-radius: 20px;">
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
   <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)" style="position:absolute;left:12px;"><button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button></div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)"  style="position:absolute;left:962px; "> <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button></div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>  
  </div>
</div>


<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>

<script>
var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 5000); // Change image every 2 seconds
}
</script>



<div class="divs" style="position:absolute; left:60px; top:440px;">
<a href="#allcake">
<div class="div1">

<img id="titleimg" src="http://pluspng.com/img-png/chocolate-cake-png-hd-chocolate-cake-png-425.png" alt="Chocolate Cake PNG HD" >

</div></a>
<div class="mid">
<h2 class="dec">CAKE`S</h2>
</div>

<div class="div2">


<ul>
<li><a href="chockletcake.html" ><p class="cakefont">chocolate</p></a></li>
<li><a href="#blackforestcack"><p class="cakefont">blackforest</p></a></li>
<li><a href="#pinapplecake"><p class="cakefont">pineApple</p></a></li>
<li><a href="#guavacake"><p class="cakefont">guava</p></a></li>
<li><a href="#ordercake"><p class="cakefont">make special order</p></a></li>

<li><a href="#pinapplecake"><p class="cakefont">pineApple</p></a></li>
<li><a href="#guavacake"><p class="cakefont">guava</p></a></li>
<li><a href="#ordercake"><p class="cakefont">make special order</p></a></li>
</ul>
</div>
</div>



<div class="divs" style="position:absolute; left:530px; top:440px;">
<a href="#allcookies">
<div class="div1">
<img id="titleimg" src="http://www.viallfood.com/en/wp-content/uploads/2017/04/viall-cookies.png" alt="cookies" >
</div></a>
<div class="mid">
<h2 class="dec">COOKIES</h2>
</div>
<div class="div2">
<% for(int i=0; i<request.getAttribute("iSIZE"); i++)
{
%>

<li><a href=" <% request.getAttribute("iURL"); %>"></a><p class="cakefont"><%request.getName("iNAME");%></p></li>
<%
}
%>

</div>
</div>

<div class="divs" style="position:absolute; left:1000px; top:440px;">
<a href="#all">
<div class="div1">
<img id="titleimg" src="FRN.png" alt="Chocolate Cake PNG HD" >
</div></a>
<div class="mid">
<h2 class="dec">SNACKS</h2>
</div>
<div class="div2">
<ul>
<% for(int i=0; i<request.getAttribute("sSIZE"); i++)
{
%>

<li><a href=" <% request.getAttribute("sURL"); %>"></a><p class="cakefont"><%request.getName("sNAME");%></p></li>
<%
}
%>
</ul>




</div>
</div>
</div>
<div class="upi" style="height:30px;  width:30px;position:absolute; top:1060px; left:1310px; "></div>
</a>

</body>
</html>